
<header>
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <mdb-navbar-brand>
      <a class="logo navbar-brand waves-light" mdbWavesEffect href="#" style="font-size: 28px;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"><strong>Royal ERP</strong></a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="#"></a>
        </li>
      </ul>
      <form class="form-inline">
        <!-- <div class="md-form my-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        </div> -->
      </form>
    </links>
  </mdb-navbar>
  <div class="view"
    style="background-image: url('./assets/computer.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">

    <div class="mask rgba-indigo-strong d-flex justify-content-center align-items-center">

      <div class="container">

        <div class="row pt-lg-5 mt-lg-5">

          <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left wow fadeInLeft"
            data-wow-delay="0.3s">
            <h1 class="display-4 font-weight-bold">Royal Technosoft</h1>
            <hr class="hr-light">
            <h6 class="mb-3">Since 2007, Royal Technosoft Pvt Ltd in Navrangpura, Ahmedabad has been offering
              professional training to students.
              Royal Technosoft Pvt Ltd offers short-term courses and certificate courses.It specialises and is
              well-known for training students as well as working professionals in accounting, web designing,
              programming languages, hardware and networking.
              It is run and managed by a seasoned professionals who leads a team of educators and trainers having
              relevant domain expertise.
            </h6>
            <a mdbBtn color="white" outline="true" mdbWavesEffect [routerLink]="['./login']">Login</a>
          </div>

        </div>

      </div>

    </div>

  </div>
</header>