<div style="margin-left: 40px;">
<a [routerLink]="['./positions']"><button type="button" class="btn btn-outline-dark" style="margin-top: 30px;width: 150px;">Positions</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['./departments']"><button type="button" class="btn btn-outline-dark" style="margin-top: 30px;width: 170px;">Departments</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['./employees']"><button type="button" class="btn btn-dark" style="margin-top: 30px;width: 150px;">Employees</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['./courses']"><button type="button" class="btn btn-dark" style="margin-top: 30px;width: 150px;">Courses</button></a>

</div>
<router-outlet></router-outlet>