<a [routerLink]="['./addtimetable']"><button type="button" class="btn btn-dark" style="margin-top: 30px;float: right;">+ Add</button></a>
<router-outlet></router-outlet>
<div class="table-responsive mt-1">
    <table *ngIf="getsessions"  datatable class="row-border hover">
        <thead>
          <tr>
            
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
            <th scope="col">Saturday</th>
            <th scope="col">Sunday</th>
            <th scope="col">Status</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let t of getsessions">
            <td>{{t.stime}}</td>
            <td>{{t.etime}}</td>
            <td>{{t.mon}}</td>
            <td>{{t.tue}}</td>
            <td>{{t.wed}}</td>
            <td>{{t.thu}}</td>
            <td>{{t.fri}}</td>
            <td>{{t.sat}}</td>
            <td>{{t.sun}}</td>
            <td><span [ngClass]="t.status=='Active'?'badge badge-success':'badge badge-danger'">{{t.status}}</span></td>
            <td><button type="button" class="btn btn-outline-danger waves-effect" (click)="delete(t.sessid)"><i class="pi pi-trash"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>