
<div class="main">

    <form class="text-center border border-light p-5" [formGroup]="myForm" (ngSubmit)="submit()">
    
        <p class="h4 mb-4">Login</p>
    
       
        <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" formControlName="username">
    
   
        <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" formControlName="password">
    
        <div class="d-flex justify-content-around">
            <div>
         
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                    <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                </div>
            </div>
            <div>
          
                <a href="">Forgot password?</a>
            </div>
        </div>

        <button class="btn btn-info btn-block my-4" type="submit" >Submit</button>
    
     
        <!-- <p>Not a member?
            <a>Register</a>
        </p> -->
    </form>
  
    </div>