<div class="container col-lg-12 p-3 m-2">
    <div class="row">
        <div class=" col-lg-3 m-3 ">

            <div class="card" style="background-color: lightblue;">


                <p style="font-weight: 800;font-size: 30px;text-align: center;color: black">Students</p>
                <hr>
                <p style="font-weight: 800;font-size: 20px;text-align: center;">{{student}}</p>

            </div>

        </div>

        <div class=" col-lg-3 m-3 ">

            <div class="card" style="background-color: lightblue;">


                <p style="font-weight: 800;font-size: 30px;text-align: center;color: black">Courses</p>
                <hr>
                <p style="font-weight: 800;font-size: 20px;text-align: center;">{{courses}}</p>

            </div>

        </div>

        <div class=" col-lg-3 m-3 ">

            <div class="card" style="background-color: lightblue;">


                <p style="font-weight: 800;font-size: 30px;text-align: center;color: black">Faculties</p>
                <hr>
                <p style="font-weight: 800;font-size: 20px;text-align: center;">{{faculties}}</p>

            </div>

        </div>
    </div>
</div>
