<a [routerLink]="['./addstudents']"><button type="button" class="btn btn-dark" style="margin-top: 30px;float: right;">+ Add</button></a>

<router-outlet></router-outlet>

<div class="table-responsive">
<br>
    <table datatable class="row-border hover">
      <thead>
          <tr>
              <th>Student ID</th>
              <th>Student Code</th>
              <th>Images</th>
              <th>First Name</th>
              <th>Middle Name</th>
              <th>Last Name</th>
              <th>Gender</th>
              <th>Address</th>
              <th>DOB</th>
              <th>DOJ</th>
              <th>Qualification</th>
              <th>College Name</th>
              <th>Reference</th>
              <th>Mobile No</th>
              <th>Email</th>
              <th>Inquiry Detail</th>
              <th>Type of Student</th>
              <th>Status</th>
              <th>Edit</th>
              <th>Delete</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let l of studentlist">
              <th scope="row">{{l.sid}}</th>
              <td>{{l.scode}}</td>
              <td><img [src]="['http://localhost:9100/uploads/'+l.image]" style="width: 100px;height: 100px;" class="rounded"></td>
              <td>{{l.fn}}</td>
              <td>{{l.mn}}</td>
              <td>{{l.ln}}</td>
              <td>{{l.gender}}</td>
              <td>{{l.address}}</td>
              <td>{{l.dob | date: 'mediumDate'}}</td>
              <td>{{l.doj | date: 'mediumDate'}}</td>
              <td>{{l.qualification}}</td>
              <td>{{l.collegename}}</td>
              <td>{{l.ref}}</td>
              <td>{{l.mobile}}</td>
              <td>{{l.email}}</td>
              <td>{{l.inqdetail}}</td>
              <td>{{l.typeofstudent}}</td>
              <td><span [ngClass]="l.status=='Active'?'badge badge-success':'badge badge-danger'">{{l.status}}</span></td>
               
              <td><a [routerLink]="['/slidebar/students/studentsreg/addstudents',l.sid]"><button type="button" class="btn btn-outline-danger waves-effect"><i class="pi pi-user-edit"></i></button></a></td>
              <td><button type="button" class="btn btn-outline-danger waves-effect" (click)="delete(l.sid)"><i class="pi pi-trash"></i></button></td>
          </tr>
      </tbody>
  </table>
</div>
