<!-- <div>
<a [routerLink]="['./general']"><button type="button" class="btn btn-dark" style="margin-top: 30px;">General</button></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['./club']"><button type="button" class="btn btn-dark" style="margin-top: 30px;">Club</button></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['./onetoone']"><button type="button" class="btn btn-dark" style="margin-top: 30px;">One To One</button></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['./others']"><button type="button" class="btn btn-dark" style="margin-top: 30px;">Others</button></a>
</div>
<router-outlet></router-outlet> -->
